process.container = 'quay.io/pancancer/pcawg-bwa-mem:latest'

docker {
    enabled = true
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = 'reports/flowchart.html'
}

k8s {
    namespace = 'nextflow-pcawg'
}

weblog {
    enabled = true
    url = 'http://elasticsearch-master:9200/nextflow-pcawg-190904/_doc/'
}